body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body > div,
body > div > div,
body > div > div > div.login-form {
  height: 100%;
}

body > div,
body > div > div,
body > div > div > div.particle {
  z-index: -1;
}

div.ui.message {
  background-color: white;
}

h2.ui.header.header{
  display: inline-block;
  color:  #20376b;
}

div.ui.buttons {
  display: inline;
}

h3.ui.header.headerUsers{
  display: inline-block;
  color: gray;
}

.contentHeader {
  display: inline-table;
}
